.map-container{
    display: inline-block;
    margin: 50px;
}
.map{
    user-select: none;
    display: grid;
    grid-template-rows: repeat(var(--map-rows), 55px);
    grid-template-columns: repeat(var(--map-cols), 125px);
}
.selection-area {
    background: rgba(46, 115, 252, 0.11);
    border: 2px solid rgba(98, 155, 255, 0.81);
    border-radius: 0.1em;
}
h1{
    font-size: 60px;
}