.hive-switch{
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    border: none;
    background-color:  rgba(0, 0, 0, 0);
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.hive-switch > .active{
    background-color: rgb(91, 209, 130);
}
.hive-switch > div{
    white-space: nowrap;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}
.hive-switch > div:hover{
    color: white;
}
.hive-switch-l{
    border-right: none;
    border-radius: 5px 0 0 5px;
}
.hive-switch-r{
    border-radius: 0 5px 5px 0;
}
.hive-switch-m{
    border-right: none;
    border-radius: 0;
}