.seat{
    width: 120px;
    height: 50px;
    margin: 2.5px;
    border-radius: 0.25rem;
}
.seat.selected {
    border-style: solid;
    background-color: #4f90f2;
    border-width: 0.5px;
    border-color: #ffffff;
} 
.num_box, .name_box{
    width: 120px;
    height: 25px;
    text-align: center;
    font-size: 15px;
}
.num_box{
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: rgba(76, 129, 129, 0.8);
    color: white;
}
.name_box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(156, 148, 207, 0.7);
    border-radius: 0 0 0.25rem 0.25rem;
}