.nav_bar{
    background-color: thistle;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 50px;
}
.links > li{
    display: inline-block;
    padding: 0px 20px;
}
.logo{
    display: flex;
    align-items: center;
    margin: 0px 40px;
    padding: 0px 30px;
    color: rgb(109, 101, 221);
    font-weight: 600;
    font-size: 40px;
    background-color: aqua;
}
.user_icon{
    user-select: none;
    padding-left: 50px;
    height: 100%;
}
.admin_link{
    user-select: none;
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: cornflowerblue;
    font-size: 24px;
}
.user_name{
    height: 100%;
    box-sizing: border-box;
    width: 130px;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: cornflowerblue;
    font-size: 24px;
}
.admin_link > a{
    color: cornflowerblue;
}
.admin_link:hover{
    background-color: rgb(68, 62, 86);
}
.user_name.active{
    background-color: rgb(68, 62, 86);
}
.actions_drop{
    opacity: 0;
    user-select: none;
    pointer-events: none;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    width: 130px;
    background-color: rgb(105, 92, 143);
    position: absolute;
    margin: 0;
    border-radius: 0 0 10px 10px;
    transition: all 400ms;
}
.actions_drop.active{
    opacity: 100;
    user-select: all;
    pointer-events: all;
}
